.product-card {
  padding: 2rem;
  text-align: center;
  margin: 2rem;
  width: 500px;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  border-radius: 10px;
}